@import "bootstrap";

html, body {
  background-color: #eeeeee;
  max-width: 100% !important;
  min-width: 100% !important;
  overflow-x: hidden;
}

a, .nav-link {
  color: inherit;
  text-decoration: none !important;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: none;
}

#test-img {
  width: 100%; /* You can set the dimensions to whatever you want */
  height: auto;
  object-fit: cover;
}

.shadow {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  }
}

#property-preview-img {
  width: 100%; /* You can set the dimensions to whatever you want */
  height: 200px;
  object-fit: cover;
}
.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.bg-primary {
  //background: #FF9800 !important;
}